<hi> Add your new album below!</h1>

  <!-- <% if @album.errors.any> %>
    <ul class="errors">
      <% @album.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %> -->


<%= form_for @album do |f| %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :label_code %>
  <%= f.text_field :label_code %>

  <%= f.submit %>
<% end %>
